# =========================
# Python 快取檔案
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 虛擬環境
# =========================
venv/
env/
.venv/

# =========================
# 不要上傳舊資料夾
# =========================
old/

# =========================
# 不要上傳 API 金鑰
# =========================
.env

# =========================
# 系統檔案
# =========================
.DS_Store
Thumbs.db

# =========================
# Python / Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Gradio / 暫存資料
# =========================
.gradio/